    <div>
        <div class="title-header">
            Thay đổi mật khẩu
        </div>
    </div>
    <div class="btn-settings">
        <div class="col-sm-12">
            <div>
                <label for="">Nhập Password:</label>
            </div>
            <div>
                <input type="password" class="form-control" [(ngModel)]="password">
            </div>
        </div>
        <div class="col-sm-12">
            <div>
                <label for="">Nhập lại Password:</label>
            </div>
            <div>
                <input type="password" class="form-control" [(ngModel)]="repassword">
            </div>
        </div>
    </div>
    <div class="btn-settings">
        <div class="" style="text-align: center;margin: 10px;" >
            <button class="btn btn-success" (click)="submit()"><span class="fa fa-check"></span>Lưu</button>
            <button class="btn btn-danger" (click)="modalRef.hide()"><span class="fa fa-times"></span>Cancel</button>
        </div>
    </div>