<div class="notication" id="notication">
    <div>
        <span class="fa fa-check"></span>
        Lưu dữ liệu thành công
        <button class="btn btn-danger" (click)="Close()">x</button>
    </div>
</div>
<div class="box-add">
    <div>
        <ul class="breadcrumb">
            <li><a href="/admin">Trang chủ</a></li>
            <li><a routerLink="/admin/projects">Quản lý dự án</a></li>
        </ul>
    </div>
    <div>
        <div class="title-header">
            Thêm dự án
        </div>
    </div>
    <div class="mr-b-1">
        <div>
            <label for="">Tên dự án:</label>
        </div>
        <div class="col-sm-5">
            <input type="text" class="form-control" [(ngModel)]="project.project_name" placeholder="Nhập tên">
        </div>
    </div>
    <div>
        <div>
            <label>Mô tả chi tiết dự án:</label>
        </div>
        <div class="col-sm-5">
            <textarea type="text" rows="5" class="form-control" [(ngModel)]="project.project_content"
                placeholder="Nhập nội dung"></textarea>
        </div>
    </div>
    <div class="btn-settings">
        <div class="col-sm-4">
            <button class="btn btn-primary" (click)="return()"><span class="fa fa-list"></span>Danh sách</button>
            <button class="btn btn-success" (click)="submit()"><span class="fa fa-check"></span>Lưu</button>
        </div>
    </div>
</div>