.notication{
    background-color: #1dbf00;
    color: #fff;
    display: none;
    width: 300px;
    border-radius: 5px;
    margin-left: auto;
    position: fixed;
    z-index: 100;
    margin-top: 10px;
    margin-left: 55%;
    padding: 10px;
    .btn{
        margin-left: 80px;
    }
}
.box-table{
    margin-top: 2rem;
    box-shadow: 5px 10px 8px 10px #888888;
    background-color: #ffffff;
    padding: 10px;
    ul.breadcrumb {
        padding: 10px 16px;
        list-style: none;
    }
    ul.breadcrumb li {
        display: inline;
        font-size: 18px;
    }
    ul.breadcrumb li+li:before {
        padding: 8px;
        color: black;
        content: "/\00a0";
    }
    ul.breadcrumb li a {
        color: #0275d8;
        text-decoration: none;
    }
    ul.breadcrumb li a:hover {
        color: #01447e;
        text-decoration: none;
    }
    .table-reponsive{
        overflow-x: auto;
        table{
            width: 100%;
            th{
                background-color: #135dfc;
                color: #ffffff;
                border: 1px solid #f9f9f9;
                text-align: center;
            }
            .settings{
                text-align: left;
                padding-left: 10px;
                width: 100px;
            }
            td{
                padding: 5px;
            }
            tbody:hover{
                background-color: #c0d6ff;
            }
        }
    }
    .Paging{
        margin-top: 1rem;
    }
}