<div class="notication" id="notication">
   <div>
       <span class="fa fa-check"></span>
        Xóa dữ liệu thành công
        <button class="btn btn-danger" (click)="Close()">x</button>
   </div>
</div>
<div class="box-table">
    <div>
        <ul class="breadcrumb">
            <li><a href="/admin">Trang chủ</a></li>
            <li><a routerLink="/admin/usermanager">Quản lý nhân viên</a></li>
        </ul>
    </div>
    <div>
        <div class="table-reponsive">
            <table>
                <thead>
                    <th class="settings" *ngIf="isAdmin||isUser1">
                        <button class="btn btn-primary" data-toggle="modal" data-target="#myModal" (click)="add()"><span class="fa fa-plus"></span></button>
                    </th>
                    <th>Tên</th>
                    <th>Ngày sinh</th>
                    <th>Email</th>
                    <th>Số điện thoại</th>
                    <th>Vai trò</th>
                    <th>Tên đăng nhập</th>
                </thead>
                <ng-container *ngFor="let user of users| slice:Paging.Size*(Paging.Index-1):Paging.Size*Paging.Index">
                    <tbody>
                        <td class="settings" *ngIf="isAdmin||isUser1">
                            <button class="btn btn-warning" (click)="edit(user)"><span class="fa fa-pencil-square-o"></span></button>
                            <button class="btn btn-danger" 
                                mwlConfirmationPopover
                                [popoverTitle]=""  
                                [popoverMessage]="'Bạn có muốn xóa không?'" 
                                [confirmText]="'Có'" 
                                [cancelText]="'Không'" 
                                placement="right" 
                                (confirm)="confirmClicked = true;deletebyId(user)"  
                                (cancel)="cancelClicked = true" 
                                confirmButtonType="danger" 
                                cancelButtonType="defang-containert" 
                                (click)="confirmClicked = false; cancelClicked = false"><span class="fa fa-trash"></span></button>
                        </td>
                        <td>{{user.user_manager_name}}</td>
                        <td>{{user.user_manager_birthday | date: 'HH:mm:ss dd-MM-yyyy'}}</td>
                        <td>{{user.user_manager_email}}</td>
                        <td>{{user.user_manager_phone}}</td>
                        <td>
                            <ng-container *ngFor="let r of role">
                                <ng-container *ngIf="user.user_manager_role===r.role_manager_id">
                                    <div class="column-status"><span class="status-unactive"></span>{{r.role_manager_name}}</div>
                                </ng-container>
                            </ng-container>
                        </td>
                        <td>{{user.user_manager_username}}</td>
                    </tbody>
                </ng-container>
            </table>
        </div>
        <div class="Paging">
            <app-Paging [(Page)]="Paging" [totalData]="count" (onChange)='getUser()' [linkRoute]="'/admin/usermanager'"></app-Paging>
        </div>
    </div>
</div>